@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font: 100%/1.5 "Noto Sans JP", sans-serif;
}
code {
    font: 90%/1.5 "Source Code Pro", monospace;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
